/* === 공통 요소 (모든 페이지에서 사용) === */
body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
